* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.meeting__container {
  height: 100vh;
  display: grid;
  grid-template-columns: 4% 66% 30%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header header header"
    "sidenav main__content chart"
    "btn__grp btn__grp chart";
  background: #EFF0F2;
  /* color: #ffffff; */
}

.menu__icon {
  display: none;
}

.meeting__header {
  grid-area: header;
  padding: 1rem;
  background-color: #243122;
  color: #10b664;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side__nav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  /* background-color: red; */
  padding: 10px;
  border-right: 3px solid #cebcbc;
  justify-content: space-evenly;
  align-items: center;
}

.side__nav span {
  font-size: 24px;
}

span.active {
  color: #10b664;
  /* position: relative; */
}
/* span.active::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    color: #10b664;
    margin-right: -10px;
    border-right: 10px solid #10b664;
    z-index: 10;
} */

.main__container {
  grid-area: main__content;
  background-color: #A0A0A2;
  margin: 3%;
  border-radius: 23px;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.chat__chart {
  grid-area: chart;
}
.chart__section {
  display: grid;
  place-content: center;
  margin-top: 3rem;
}
.chat__section {
  height: inherit;
}
.btn__section {
  grid-area: btn__grp;
  display: flex;
  justify-content: center;
}
.mini__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.mini__nav .invite__link {
  color: #10b664;
  padding: 1rem;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}
.tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.option__section {
}
.option__section .select__icon {
  display: flex;
  justify-content: space-between;
}
.option__section .person__count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.option__section .select__icon svg {
  font-size: 16px;
  width: 30px;
  height: 30px;
}
.vidoe__section {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  padding: 15px;
}


.vidoe__section div {
  height: 200px;
  background-color: #21242b;
  border-radius: 10px;
}

.vidoe__section video {
  width: 100%;
  height: 100%;
}
.controller__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.controller__container .icon {
  font-size: 3rem;
  color: #cebcbc;
  /* padding: 1rem; */
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 7px;
  cursor: pointer;
}
.controller__container .call__icon {
  color: #b92424;
}

.toogle__grp {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.toogle__grp div {
  width: 50%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background: #000000;
  cursor: pointer;
}

.toogle__grp .chart__toogle {
  background: #10b664;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .side__nav {
    display: none;
  }
  .chart__section {
    display: none;
  }
  .chart__section {
    margin: 0;
  }
  .meeting__container {
    display: block;
  }
  .menu__icon {
    display: block;
  }
  .meeting__header {
    height: 10vh;
  }
  .main__container {
    margin: 0;
    border-radius: 0;
    height: 80vh;
  }
  .btn__section {
    height: 10vh;
  }
  .vidoe__section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 150px;
  }

  .vidoe__section div {
    width: 100%;
    height: 150px;
  }

  .vidoe__section .video__box {
    object-fit: fill;
  }
  .phone__menu {
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .phone__menu div {
    border-bottom: 2px solid #10b664;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  .chart__section {
    min-height: 80vh;
  }
  .toogle__grp {
    display: none;
  }
}
